<div class="fondVert">
    <p>calcul de tva</p>
    ht : <input type="number" [(ngModel)]="ht"  name="ht"> <br/>
    taux : <select [(ngModel)]="taux" name="taux" >
        @for(t of tauxPossibles; track t){
              <option [ngValue]="t">{{t}}%</option>
        }
        </select><br/>
    tva=<span id="spanTva">{{tva() | toFixed:2}}</span><br/>
    ttc=<span id="spanTtc">{{ttc() | toFixed:2}}</span> <br/>

    <hr/>
    <h4>tests temporaires</h4>
    age = {{age()}}  &nbsp;
    <button (click)="onIncrementAge()">++</button> &nbsp;
    <button (click)="onDecrementAge()">--</button><br/>
    xy={{sXy()|json}} &nbsp; sTranformXy={{sTranformXy()|json}} <br/>
    xy2={{sXy2()|json}}  <br/>
     <button (click)="onUpdateXy()">update_xy</button> <br/>
      newFirstName: <input [(ngModel)]="newFirstName"> &nbsp;
    <button (click)="onUpdateFirstName()">update_firstName</button>&nbsp;
    <button (click)="onUpdateUser()">update_user</button> <br/>
    user: {{user()|json}} &nbsp; firstName: {{firstName()}}
   
</div>


