<p>basic works!</p>

 <a routerLink="/ngr-basic/tva" >tva</a><br/>
 <a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple</a> &nbsp;
 <a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br/>
 <router-outlet></router-outlet>

<!--
<app-calculatrice></app-calculatrice>
<app-tva></app-tva>
-->

<!-- [panelOpenState]="true" pour "paneau/développé (contenu montré)" dès le départ-->

<!--
<app-toggle-panel title="calculatrice" [panelOpenState]="true">
    <app-calculatrice></app-calculatrice>
</app-toggle-panel>

<app-toggle-panel title="tva">
    <app-tva></app-tva>
</app-toggle-panel>
-->
<app-simple-selector 
 title="choix couleur" 
[values]="[ 'red' ,'green','blue' ]"
 [(choix)]="couleurChoisie"></app-simple-selector> <br/>
<!-- v1:  (choix)="onChoixCouleur($event)" -->

couleurChoisie = {{couleurChoisie}}

<!--
<mat-tab-group>
 <mat-tab label="calculatrice">
          <app-calculatrice></app-calculatrice>
</mat-tab>
    <mat-tab label="calcul tva">
         <app-tva></app-tva>
   </mat-tab>
</mat-tab-group>
-->

