<p>basic works!</p>

<!--
<app-calculatrice></app-calculatrice>
<app-tva></app-tva>
-->

<!-- [panelOpenState]="true" pour "paneau/développé (contenu montré)" dès le départ-->
<app-toggle-panel title="calculatrice" [panelOpenState]="true">
    <app-calculatrice></app-calculatrice>
</app-toggle-panel>

<app-toggle-panel title="tva">
    <app-tva></app-tva>
</app-toggle-panel>

<app-simple-selector 
 title="choix couleur" 
[values]="[ 'red' ,'green','blue' ]"
 (choix)="onChoixCouleur($event)"></app-simple-selector> <br/>
couleurChoisie = {{couleurChoisie}}


