<p>basic works!</p>

<app-calculatrice></app-calculatrice> 
<!--
<app-toggle-panel title="calculatrice" [(panelOpenState)]="panelCalculatriceOpenState">
   <app-calculatrice></app-calculatrice> 
</app-toggle-panel>
 -->

<app-toggle-panel title="calcul tva">
   <app-tva></app-tva> <!-- vu comme ng-content dans toggle-panel....html -->
</app-toggle-panel>

<!-- v1 avec output -->
<!--
<app-simple-selector
title="choix couleur"
[values]="[ 'red' ,'green','blue' ]"
(choix)="onChoixCouleur($event)"></app-simple-selector>
-->

<!-- v2 avec model -->
 
<app-simple-selector
title="choix couleur"
[values]="[ 'red' ,'green','blue' ]"
[(choix)]="couleurChoisie"></app-simple-selector>
 <br/>
  
couleurChoisie = {{couleurChoisie}}

<app-mutable></app-mutable>
