<div class="entete"
 [style.background-color]="preferencesService.couleurFondPreferee">{{titre()}} -
  <a routerLink='/ngr-welcome' routerLinkActive="activeClass"> welcome</a> &nbsp;
  <a routerLink='/ngr-basic' routerLinkActive="activeClass"> basic</a> &nbsp;
  <a routerLink='/ngr-login' routerLinkActive="activeClass"> login</a> &nbsp;
   <a routerLink='/ngr-conversion' routerLinkActive="activeClass"> conversion</a> &nbsp;
  <a routerLink='/ngr-devise' routerLinkActive="activeClass"> devise</a> &nbsp;
  <a routerLink='/ngr-reservation' routerLinkActive="activeClass"> resa_reactiveForm</a> &nbsp;
</div>