<div class="c1">
    <p>calcul de TVA</p>
    <label>ht:</label><input type="number" [(ngModel)]="ht" /> <br/>
    <label>taux:</label><select [(ngModel)]="taux" > 
        @for(t of listeTaux; track t){
            <option [ngValue]="t">{{t}}%</option>
        }
        </select><br/>
     @if(tva()>0){
    <label>tva=</label><span>{{tva() | toFixed:2}}</span><br/> 
    <label>ttc=</label><span>{{ttc() | toFixed:2}}</span>
     }
     <hr/>
     <ul>
        @for(t of listeTaux; track t){
            <li (click)="onSelectTaux(t)" [class.selected]="t==tauxSel">{{t}}%</li>
        }
     </ul>
     @for(c of listeCategoriePourTauxSel; track c){
          <span class="selected">{{c}}</span> &nbsp;
     }
</div>